:root {
    --main-text2-color: #111517;
    --main-text1-color: #848484;
    --main-backgroud-color: #fafafa;
    --main-textdark-color: #fff;
    --main-background-dark-color: #202C36;
    /* --main-background-dark-color; */
    /* --main-textdark-color; */
    
    /* --main-input-color: */
}
/* nunito-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 300;
    src:
    url("../fonts/nunito-sans-v15-latin-300.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../fonts/nunito-sans-v15-latin-300.woff") format("woff");
}
/* nunito-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src:
    url("../fonts/nunito-sans-v15-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../fonts/nunito-sans-v15-latin-regular.woff") format("woff");
}
/* nunito-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    src: 
    url("../fonts/nunito-sans-v15-latin-600.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../fonts/nunito-sans-v15-latin-600.woff") format("woff"); 
}
/* nunito-sans-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    src: ("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/nunito-sans-v15-latin-800.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../fonts/nunito-sans-v15-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--main-backgroud-color);
    font-weight: 800;
    transition: all 0.2s linear;
    
    /* background-color: var(-main-backgroud-color); */
}
img {
    display: block;
    /* height: auto; */
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
.dark{
    --main-text2-color: #fff;
    --main-text1-color: #fff;
    --main-backgroud-color: #202C36;
    --main-textdark-color: #2b3844;
    --main-text1-color: #fff;
    
    transition: all 0.2s linear;
    /* --main-textdark-color: #fff; */
    /* --main-background-dark-color: #202C36; */
}  
.dark .site-logo {
    width: 234px;
    height: 33px;
    background-image: url(../images/logodark.svg);
    background-repeat: no-repeat;
}
.site-logo {
    width: 234px;
    height: 33px;
    background-image: url(../images/logos.svg);
    background-repeat: no-repeat;
    
}
.dark .site-header__btn::before { 
    background-image: url(../images/darkmodeactive.svg);
    background-repeat: no-repeat;
}
.dark .hero__top-input {     
    background-image: url(../images/searchdark.svg);
    background-repeat: no-repeat;
}
.dark .hero__top-desc::after {
    background-image: url(../images/arrowdowndark.svg);
    background-repeat: no-repeat;
}
.dark .hero__back-link::before {
    background-image: url(../images/backac.svg);
    background-repeat: no-repeat;
}
.site-main {
    flex-grow: 1;
    /* background-color: #fafafa; */
    
}
/* .wrap {
    position: relative;
} */
.site-header {
    /* position: sticky; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: var(--main-textdark-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
.site-header__inner {
    display: flex;
    justify-content: space-between;
}
.site-header__btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: var(--main-text2-color);
    background-color: transparent;
    border: none;
}
.site-header__btn::before {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    content: " ";
    background-image: url(../images/darkmodenotactive.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.hero {
    padding-top: 128px;
    padding-bottom: 45px;
}
.hero__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}
.hero__top-input {
    width: 480px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 74px;
    font-size: 14px;   
    font-weight: 400;
    line-height: 20px; 
    border: none;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--main-textdark-color);
    border-radius: 5px;
    background-image: url(../images/searchicon.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position:calc(50% - 188px) calc(50% - 1px);
}
.hero__top-input::placeholder {
    color: var(--main-text1-color);
    
}
.hero__desc-wrapper {
    position: relative;
    width: 200px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    background-color: var(--main-textdark-color);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.hero__top-desc {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    color: var(--main-text2-color);
    
}
.hero__top-desc::after {
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 47px;
    content: "";
    background-image: url(../images/arrowdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}
.hero__desc-list-wrapper{
    position: absolute;
    display: none;
    top: 57px;
    left: 0;
    width: 200px;
    padding-top: 10px;
    background-color: var(--main-backgroud-color);
    border-radius: 5px;
}

.hero__desc-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    
    /* padding-left: 0; */
    list-style: none;
    background-color: var(--main-textdark-color);
    
}
.hero__desc-wrapper:hover .hero__desc-list-wrapper {
    display: block;
}
.hero__desc-item:not(:last-child) {
    margin-bottom: 8px;
    
}
.hero__desc-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--main-text2-color);
}

.hero__link {
    text-decoration: none;
}

.hero__list {
    display: flex;
    flex-wrap: wrap;
    gap: 74px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.hero__item {
    width: 264px;
    border-radius: 5px;
    background-color: var(--main-textdark-color);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.hero__img {
    border-radius: 5px 5px 5px 5px;
    /* background-color: #808080; */
}
.hero__title-wrapper {
    padding-top: 24px;
    padding-bottom: 46px;
    padding-left: 24px;
}
.hero__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 26px; 
    color: var(--main-text2-color);
}
.hero__title-desc {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px; 
    color: var(--main-text2-color);
    /* color: #111517; */
}
.hero__title-desc:nth-child(3) {
    margin-top: 8px;
    margin-bottom: 8px;
}
.hero__title-add {
    margin-left: 5px;
    font-weight: 300;
}

/* countrys style */



.countrys-hero {
    padding-top: 160px;
    padding-bottom: 343px;
}

.hero__back-link {
    display: flex;
    align-items: center;
    width: 136px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    font-size: 16px;  
    font-weight: 300;
    line-height: 20px; 
    color: var(--main-text2-color);
    /* color: #111517; */
    border-radius: 6px;
    background-color: var(--main-textdark-color);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    
    text-decoration: none;
}
.hero__back-link::before {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    content: "";
    background-image: url(../images/backnotac.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero__countrys-back {
    display: flex;
    align-items: center;
    
    
    
    padding-top: 80px;
}
.hero__countrys-title-wrapper {
    width: 574px;
    margin-left: 120px;
}
.hero__countrys-title {
    margin-top: 0;
    margin-bottom: 23px;
    color: var(--main-text2-color);
    font-size: 32px;
    line-height: normal;
}
.hero__countrys-inner {
    display: flex;
    justify-content: space-between;
}

.hero__title-desc--margin {
    margin-top: 8px;
}
.hero__countrys-border {
    display: flex;
    align-items: center;
    padding-top: 68px;
    
}
.hero__countrys-border-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
    color: var(--main-text2-color);
}
.hero__countrys-border-link { 
    display: block;
    max-width: 150px;
    min-width: 96px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    color: var(--main-text2-color);
    border-radius: 2px;
    border: 0px solid #979797;
    background-color: var(--main-textdark-color);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}
.hero__countrys-border-link:not(:last-child) {
    margin-right: 10px;
}







/* select {
    width: 200px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    background-color: var(--main-textdark-color);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
}
.hero__opt-wrapper {
    
}
.hero__opt-head{
    
}
.hero__opt{
    
} */